---
import {
	IconShoppingCart,
	IconPencil,
	IconCode,
	IconAt,
	IconBrandBehance,
	IconBrandBluesky,
	IconBrandDribbble,
	IconBrandInstagram,
	IconBrandLinkedin,
	IconCakeRoll,
	IconCalculator,
	IconMapPin,
} from "@tabler/icons-react";
import { renderRTF } from "../utils/strapiParser";
import { Image } from "astro:assets";

const STRAPI_ROOT = import.meta.env.STRAPI_ROOT;

const resp = await fetch(`${STRAPI_ROOT}/api/profile-card?populate=*`);
const json = await resp.json();
const profileData = json.data;

const renderedBio = renderRTF(profileData.bio);
const headshotUrl = profileData.headshot?.url.startsWith("http") ? profileData.headshot.url : `${STRAPI_ROOT}${profileData.headshot.url}`;
---

<div class="profile-card" role="main">
  {profileData.headshot.url && <Image src={headshotUrl} alt={`${profileData.name} Headshot`} width={profileData.headshot.width} height={profileData.headshot.height} format="avif" widths={[100, 200, 400]} sizes="100px" class="profile-card--img" />}

  <div class="profile-card--content">
    <h1 class="center" data-name={profileData.name}>{profileData.name}</h1>
    <div class="data small">
      <a href="https://www.google.com/maps/@53.2542252,-1.9263802,12z" target="_blank" class="data--item">
        <IconMapPin stroke={1.5} /> Buxton UK
      </a>
      <a href="mailto:adam@snape.xyz" class="data--item">
        <IconAt stroke={1.5} />adam@snape.xyz
      </a>
    </div>
    <div class="profile-card--skills center">
      <div class="skill"><IconCode stroke={2} />Web Developer</div>
      <div class="skill"><IconPencil stroke={2} />Designer</div>
      <div class="skill"><IconShoppingCart stroke={2} />Shopify Specialist</div>
    </div>
    <div set:html={renderedBio} />

    <div class="flex-links">
      <div class="socials">
        <a href="https://www.behance.net/snapexyz" aria-label="find me on behance" target="_blank"> <IconBrandBehance stroke={2} /></a>
        <a href="https://dribbble.com/snapexyz" aria-label="find me on dribbble" target="_blank"> <IconBrandDribbble stroke={2} /></a>
        <a href="https://www.linkedin.com/in/snapexyz/" aria-label="find me on linkedin" target="_blank"> <IconBrandLinkedin stroke={2} /></a>
        <a href="https://bsky.app/profile/adam.snape.xyz" aria-label="find me on blue sky" target="_blank"> <IconBrandBluesky stroke={2} /></a>
        <a href="https://www.instagram.com/snapexyz" aria-label="find me on instagram" target="_blank"> <IconBrandInstagram stroke={2} /></a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" aria-label="this is definitely not a rick roll" target="_blank"> <IconCakeRoll stroke={2} /></a>
        <a href="https://calc.adamsnape.com" target="_blank" aria-label="my online calculator" target="_blank"> <IconCalculator stroke={2} /></a>
      </div>
      <a href="mailto:adam@snape.xyz" class="btn btn-primary">Get in touch &raquo;</a>
    </div>
  </div>
</div>

<style>
  body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 5rem 0;
  }

  h1,
  h3 {
    margin: 0;
  }

  .data,
  .data--item {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 0.5rem;
  }

  .data--item {
    gap: 0.5ch;
    align-items: center;
  }

  .socials,
  .profile-card--skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    font-size: var(--fs-s);
    margin: 1.5rem 0;
    gap: 0.5rem;
  }

  .profile-card--skills {
    gap: 0;
    border-right: 2px solid var(--clr-secondary);
    border-bottom: 2px solid var(--clr-secondary);
  }

  .skill {
    border-top: 2px solid var(--clr-secondary);
    border-left: 2px solid var(--clr-secondary);
    padding: 0.5rem 1rem;
    min-height: 1.2em;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    gap: 0.5rem;

    background-color: var(--clr-off-white);
  }

  .profile-card--content {
    width: min(90vw, 600px);
    padding: 2rem;
    padding-top: calc(50px + 1rem);
    margin-top: -50px;
    position: relative;
  }

  .flex-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    & > a {
      display: block;
    }
  }
  .profile-card--img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 3px solid var(--clr-secondary);
    margin: 0 auto;
    display: block;
    z-index: 2;
    position: relative;
  }
</style>
