---
import { renderRTF } from '../utils/strapiParser';
import { IconBrandLinkedin, IconBrandBluesky, IconBrandInstagram, IconAt, IconMapPin } from '@tabler/icons-react';

const STRAPI_ROOT = import.meta.env.STRAPI_ROOT;

const resp = await fetch(`${STRAPI_ROOT}/api/profile-card?populate=*`);
const json = await resp.json();
const profileData = json.data;
const renderedBio = renderRTF(profileData.bio);
---


  <div class="profile-card">
      {profileData.headshot.url && (
        <img src=`${profileData.headshot.url}` alt=`${profileData.name} Headshot` class="profile-card--img" />
      )}
       <div class="profile-card--content">
        <h1 class="h2 center">{profileData.name}</h1>
        <div class="data text-small">
        <a href="https://www.google.com/maps/@53.2542252,-1.9263802,12z" target="_blank" class="data--item">
            <IconMapPin stroke={1.5} /> Buxton UK
        </a>
        <a href="mailto:adam@snape.xyz" class="data--item">
            <IconAt stroke={1.5} />adam@snape.xyz
        </a>
        </div>
           <div set:html={renderedBio} />
          <div class="profile-card--skills">
            <div class="skill">Brand Strategy</div>
            <div class="skill">Visual Identity Design</div>
            <div class="skill">Web Development</div>
            <div class="skill language">HTML</div>
            <div class="skill language">CSS</div>
            <div class="skill language">JS</div>
            <div class="skill language">React</div>
            <div class="skill language">Astro</div>
            <div class="skill language">Strapi</div>

          </div>

           <div class="flex-links">
               <div class="socials">
                <a href="https://www.linkedin.com/in/snapexyz/" target="_blank"><IconBrandLinkedin stroke={2} /></a>
             <a href="https://bsky.app/profile/adam.snape.xyz"><IconBrandBluesky stroke={2} /></a>
             <a href="https://www.instagram.com/snapexyz"><IconBrandInstagram stroke={2} /></a>
            </div>
               <a href="mailto:adam@snape.xyz" class="btn-primary">Get in touch</a>
           </div>
        </div>
  </div>


<style>
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }

    h1 {
        font-size: var(--fs-h4);
        margin-bottom: 1rem;;
    }


    .data,
        .data--item {
                margin: 0 0 1.5rem;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
    }

    .data--item {
    gap: 0.5ch;
    align-items: center;
    }

    .socials,
    .profile-card--skills {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: var(--fs-s);
    }

    .skill {
        background-color: var(--clr-accent);
        padding: 0.5rem 1rem;
        border-radius: 2em;
        min-height: 1.2em;

        &.language {
            background-color: var(--clr-off-white);
        }
    }

    .profile-card--content{
        width: min(90vw, 600px);
        padding: 2rem;
        padding-top: calc( 50px + 1rem);
        margin-top: -50px;
        border-top: 1px solid var(--clr-secondary);
        background: var(--clr-white);
        position: relative;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: -12.5px;
            left: 50%;
            transform: translateX(-50%);
            width: 50%;
            height: 25px;
            /* background: color(from var(--clr-secondary) srgb r g b / 0.5); */
            z-index: 1;
            border-block: 1px solid var(--clr-secondary);
            opacity: 0.65;
        }

        &:after {
            top: -25px;
            width: 30%;
            height: 50px;
            opacity: 0.4;
        }
    }

    .flex-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        margin-top: 1.5rem;
        & >a {
            display: block
        }
    }
    .profile-card--img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: 3px solid  var(--clr-secondary);
        margin: 0 auto;
        display: block;
        z-index: 2;
        position: relative;
    }

</style>